
.planer.on{
    display: block;
    width: 100%;
    overflow-x: auto;
    visibility: visible;
    opacity: 1;
}

.planer{
    visibility: hidden;
    opacity: 0;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
    
}

table th {
    background: #fff;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table thead tr th:first-child, 
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
} 

table td {
    background: #fff;
    padding: 1rem 2rem;
    font-weight: normal;
}

table tr {
    opacity: 0.8;
}

table tr:hover {
    opacity: 1;
}

td.description {
    color: #363f5f;
}



td.expense {
    color: #e92929;
}